# ----------------- #
# Organization Items
# ----------------- #

.primer
.bytedragon/*
!.bytedragon/session-notes
!.bytedragon/TECH_RESEARCH.md
!.bytedragon/RULES.md

# ----------------- #
# AI Tooling
# ----------------- #

.playwright-mcp

# ----------------- #
# OS
# ----------------- #

.DS_Store